.horizontall {
  margin-top: -1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  height: 220px;
}
.muscle__name {
  color: white;
  font-size: 20px;
  margin: 0;
  padding-left: 2.5rem;
}
.dumbell__img {
  width: 130px;
}
.mainbar {
  display: flex;
}
.arrow {
  background-color: black;
}
