.header__program {
  color: white;
  font-size: 22px;
  margin-left: 1rem;
  font-style: italic;
  margin-bottom: 3rem;
}
.header__div {
  margin-left: 2rem;
  margin-right: 2rem;
}
.days {
  color: #e1e424;
  font-size: 20px;
  font-style: italic;
}
.muscle {
  color: gray;
  font-size: 18px;
  text-transform: capitalize;
  font-style: italic;
}
.program {
  color: white;
  font-size: 16px;
  font-style: italic;
}
.welcome__bnt {
  background-color: #e1e424;
  color: white;
  border-radius: 20px;
  width: 85%;
  height: 50px;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 20px;
  font-weight: bold;
}
